body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(199, 255, 199)
}

header{
    
}

nav {
    float: right;
    position: inline;
}

nav ul {
    margin-right: 40px;
    font-size: 18px;
}

li {
    position: inline;
}

h1 {
    float: center;
    font-size: 24px;
    color: #4F405D;
}

/* h2 {

} */
/* 
hero {
    
} */

section {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

}

footer {

}

p {

}

center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container {
    /* position: absolute; */
    margin: 30px;
    padding: 20px;
    width: 600px;
    height: auto;
    background-color: white;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0
    width: 100%
}